<!--
Purpose: Present text fields that allow user to fill in info for a new city location.
-->

<h2>Add a Location</h2>

<% if @location.errors.any? %>
	<ul class="errors">
		<% @location.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
 	</ul>
<% end %>

<%= form_tag "/locations", :method => 'post' do %>

	<p>
		<%= label_tag :city %>
		<%= text_field_tag :city %>
	</p>

	<p>
		<%= label_tag :state %>
		<%= text_field_tag :state %>
	</p>

	<p>
		<label>Description</label>
  		<textarea name="description" cols="80" rows="3"></textarea>
  	</p>
	
	<%= submit_tag "Add New City" %>

<% end %>
<p><%= link_to "Back to locations page", "/locations" %> </p>




