<h1>Students</h1>

<%= link_to "New User", "/new" %>
<br><br>
<table class="table table-striped">
	
	<tr>
		<th>Email</th>
		<th>University</th>
		<th>Graduation Year</th>
		<th>Location</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<!--For each user, get the corresponding info. Query the database to find the name corresponding with the ids-->
		<td><%= link_to user.email, "/#{user.id}" %></td>
		<td><%= University.find_by(:id => user.university_id).name %></td>
		<td><%= user.graduation_year %> </td>
		<td><%= Location.find_by(:id => user.location_id).city%></td>
		<td><%= link_to "Edit", "/#{user.id}/edit" %></td>
		<td><%= link_to "Delete", "/#{user.id}", :method => 'delete' %></td>
	</tr>
	<% end %>
</table>
