<% if cookies["university_id"].present? %>
  <h3>Your browsing history</h3>

  <p>
    <%= University.find_by(id: cookies["university_id"]).name%>
  </p>
<% end %>

<%= link_to "Add a new university", "/universities/new" %>

<%= form_tag universities_url, :method => "get" do %>
	Search your university:
	<%= text_field_tag :keyword %>
  	<%= submit_tag "Search" %>
<% end %>

<h4> Universities: </h4>
<table class="table table-striped">
	
	<tr>
		<th>Name</th>
		<th>Location</th>
		<th>Number of Users</th>
		<th></th>
	</tr>

	<% @universities.each do |university| %>
	<tr>
		<td><%= link_to university.name, university_path(university.id) %></td>
		<td><%= Location.find_by(id: university.location_id).city %></td>
		<td><%= university.users.count %> </td>
		<td><%= link_to "Edit", "/universities/#{university.id}/edit" %></td>
	</tr>
	<% end %>
	
</table>

<p><%= link_to "Back to homepage", "/" %> </p>