<!--
Purpose: Present text fields with all parameters of a user. Leave text fields blank for user to fill in and save. 
-->

<h2>Sign Up</h2>

<% if @user.errors.any? %>
	<ul class="errors">
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
 	</ul>
<% end %>

<%= form_tag "/users", :method => 'post' do %>

	<p>
		<%= label_tag :name %>
		<%= text_field_tag :name %>
	</p>

	<p>
		<%= label_tag :email %>
		<%= text_field_tag :email %>
	</p>

	<p>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</p>

	<p>
		<label>University</label>
		<select name="university">
			<% @universities.each do |university| %> 
			<option><%= university.name%></option>
			<% end %>
		</select>
		<br>
		<%= link_to "Add a new university", "/universities/new" %>
	</p>

	

	<p>
		<%= label_tag :graduation_year%>
		<%= text_field_tag :graduation_year %>
	</p>

	<p>
		<%= label_tag :major %>
		<%= text_field_tag :major %>
	</p>

	<p>
		<label>Current Location </label>
		<select name="location">
			<% @locations.each do |location| %> 
			<option><%= location.city%></option>
			<% end %>
		</select>
		<br>
		<%= link_to "Add a new location", "/locations/new" %>
	</p>

	<p>
		<label>Bio </label>
  		<textarea name="bio" cols="80" rows="3"></textarea>
  	</p>
  	<p>
  		<%= radio_button_tag(:interested_in_hosting, "hosting") %>
  		<%= label_tag(:interested_in_hosting_yes, "I am interested in hosting") %>
  		<%= radio_button_tag(:interested_in_hosting, "non_hosting") %>
  		<%= label_tag(:interested_in_hosting_no, "I am not interested in hosting") %>
  	</p>
  	<p>
  		<%= radio_button_tag(:interested_in_hanging_out, "hanging_out") %>
  		<%= label_tag(:interested_in_hanging_out_yes, "I am interested in hanging out") %>
  		<%= radio_button_tag(:interested_in_hanging_out, "not_hanging_out") %>
  		<%= label_tag(:interested_in_hanging_out_no, "I am not interested in hanging out") %>
  	</p>
	<%= submit_tag "Create New User" %>

<% end %>
<p><%= link_to "Back to main page", "/users" %> </p>




